export default {
  apiToken: 'Fill your API token (create at https://cloud.linode.com/profile/tokens)',
  accessKey: 'Fill your AccessKey (create at https://cloud.linode.com/object-storage/access-keys)',
  secretKey: 'Fill your SecretKey',
  certs: [
    {
      region: 'jp-osa-1',
      bucket: 'static.abc.com',
      certPath: '/etc/letsencrypt/live/static.abc.com'
    },
    {
      region: 'jp-osa-1',
      bucket: 'static-2.abc.com',
      certPath: '/etc/letsencrypt/live/static-2.abc.com'
    }
  ]
}